@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:700|Volkhov:700|Hammersmith+One|Arbutus+Slab|Poppins:800|Questrial|Bungee+Outline|Josefin+Sans:700');
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

@font-face {
    font-family: 'slopnessmedium';
    src: url('slopness-webfont.woff2') format('woff2'),
         url('slopness-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
        font-family: 'slopnessmedium';
	min-height: 100vh;
	overflow: hidden;
	color: var(--color-text);
	background-color: #fff;
        background-repeat:no-repeat;
        background-size: cover;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	animation: blink 40s infinite ease-out;
}

/* Color schemes */
.demo-1 {
	--color-text: #010101;
	--color-bg: #fff;
	--color-link: #fff;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header header'
	'... ...'
	'github demos';
}

.content--fixed a {
	pointer-events: auto;
}

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-items: center;
	align-self: start;
	grid-area: header;
	justify-self: start;
}

.codrops-header__title {
	font-size: 1.15em;
	font-weight: normal;
	margin: 0 0 0 1em;
	padding: 0.75em 0;
}


/* Slideshow */
.slideshow {
	position: absolute;
	top: 0;
	left: 0;
}

.slide {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	z-index: 1;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
	z-index: 100;
}

/* Elements */
.word {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    grid-area: title;
    font-size: 2vw;
    font-weight: 400;
    text-shadow: 1px 0px 0px #111;
    width: 40vw;
}

.sketch {
  background-image: url('../sketch.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left center;
  width: 15vw;
  cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes blink {
0%,34% {background-image: none;}
35% {background-image: url('../001I.jpg');}
36%,92% {background-image: none;}
94% {background-image: url('../001I.jpg');}
96% {background-image: url('../002I.jpg');}
98% {background-image: url('../003I.jpg');}
100% {background-image: url('../004I.jpg');}
}

@media only screen and (max-width : 414px) and (orientation : portrait) 
{
body {background-repeat:no-repeat;background-position:-400px 0px;}
.word {width: 45vw;font-size:5vw; margin-left:2vw;}
.sketch {background-size: 140%;width: 45vw; background-position: left 20% center;}
}
