@font-face {
    font-family: 'slopnessmedium';
    src: url('slopness-webfont.woff2') format('woff2'),
         url('slopness-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
        font-family: 'slopnessmedium';
	min-height: 100vh;
	overflow: hidden;
	color: #fff;
	background-color: #101010;
        background-repeat:no-repeat;
        background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	animation: blink 40s infinite ease-out;
	position: fixed;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

main {
	position: relative;
	width: 100%;
	pointer-events: none;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header header'
	'... ...'
	'github demos';
}

.content--fixed a {
	pointer-events: auto;
}

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-items: center;
	align-self: start;
	grid-area: header;
	justify-self: start;
}

.codrops-header__title {
	font-size: 1.15em;
	font-weight: normal;
	margin: 0 0 0 1em;
	padding: 0.75em 0;
}


/* Slideshow */
.slideshow {
	position: absolute;
	top: 0;
	left: 0;
}

.slide {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	z-index: 1;
}

.slide--current {
	opacity: 1;
	pointer-events: none;
	z-index: 100;
}

/* Elements */
.word {
    position: relative;
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    justify-content: left;
    pointer-events: none;
    font-size: 2vw;
    font-weight: 400;
    text-shadow: 1px 0px 1px #fff;
    width: 40vw;
}

.sketch {
  background-image: url('../sketch2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left center;
  width: 15vw;
  pointer-events: none;
}

@keyframes blink {
0%,34% {background-image: none;}
35% {background-image: url('../001I.jpg');}
36%,92% {background-image: none;}
94% {background-image: url('../001I.jpg');}
96% {background-image: url('../002I.jpg');}
98% {background-image: url('../003I.jpg');}
100% {background-image: url('../004I.jpg');}
}

@media only screen and (max-width : 510px)
{
body {background-repeat:no-repeat;background-position:-400px 0px;overflow:hidden;}
.word {width: 45vw;font-size:5vw; margin-left:2vw;text-shadow: 0px 0px 1px #fff;}
.sketch {background-size: 140%;width: 45vw; background-position: left 20% center;overflow:hidden;}
.codrops-header__title {margin: 0 0 0.2em; padding: 0.2em 0;}
}
