@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@font-face {
    font-family: 'slopnessmedium';
    src: url('slopness-webfont.woff2') format('woff2'),
         url('slopness-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 414px) and (orientation : portrait) {
.text {margin-left:-30%;padding:0}
.container {margin:0;width:100% !important;}
body {margin:0;padding:0;background-size:40% !important; background-position: right 10% center !important;}
}

html,
body {
  font-family: 'slopnessmedium', monospace;
  background: #212121 FAFAFA;
  background-image: url('../sketch.jpg');
  background-repeat: no-repeat;
  background-size: 20%;
  background-attachment: fixed;
  background-position: right 20% center;
  height: 99%;
}

a {text-decoration:none;color:black}

.container {
  height: 100%;
  width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  width: 50%;
  font-weight: 400;
  font-size: 36px;
  color: #212121;
  overflow: hidden;
  text-shadow: 1px 0px 0px #111; 
}
.dud {
  color: #aeaeae;
}

input[type=submit] {
    padding:5px 10px; 
    color: #fff;
    background: #fff;
    border:0 none;
    cursor:initial;
    -webkit-appearance: none;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
}

