* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #000;
}

.overlay {
  width: 100vw;
  height: 100vh;
}

.logo {
-webkit-mask-image: url(labels.png), url(boxar.png);
-webkit-mask-size: 500px 500px, 101vw 101vh;
-webkit-mask-repeat: no-repeat, no-repeat;
-webkit-mask-position: center, center;
  position: absolute;
  z-index: 100 !important;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}