/*! 
 * JOBS  
 *
 * @package   jobs
 * @version   v0.1.0
 * @author    Benjamin Guedj && Michael Lefebvre
 * @copyright 2013 Metrpolitan, Free
 */
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.nano .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden
}

.nano .content:focus {
    outline: thin dotted
}

.nano .content::-webkit-scrollbar {
    visibility: hidden
}

.nano>.pane {
    position: absolute;
    top: 45px;
    right: 10px;
    bottom: 5px;
    width: 10px;
    background: rgba(0,0,0,.25);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: .01;
    visibility: hidden\9;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.nano>.pane>.slider {
    position: relative;
    margin: 0 1px;
    background: #444;
    background: rgba(0,0,0,.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.nano:hover>.pane,.pane.active,.pane.flashed {
    opacity: .99;
    visibility: visible\9
}

.has-scrollbar .content::-webkit-scrollbar {
    visibility: visible
}

@font-face {
    font-family: GothamSteve;
    font-style: normal;
    font-weight: 700;
    src: url(../font/Gotham-Bold.eot);
    src: url(../font/Gotham-Bold.eot?#iefix) format('embedded-opentype'),url(../font/Gotham-Bold.woff) format('woff'),url(../font/Gotham-Bold.ttf) format('truetype'),url(../font/Gotham-Bold.svg#6a327a217ddd10461b1acdc4d224fee0) format('svg')
}

* {
    padding: 0;
    margin: 0;
    font: 12px/18px GothamSteve,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .12em;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html,body {
    width: 100%;
    height: 100%;
    min-width: 980px;
    min-height: 596px;
    background: #fff
}

a {
    text-decoration: none
}

img {
    border: 0
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    font-size: 13px;
    background: #fff
}

footer ul {
    font-size: 0
}

footer li {
    position: relative;
    display: inline-block;
    *display: inline;
    height: 60px;
    zoom:1}

footer i {
    display: inline-block;
    *display: inline;
    height: 24px;
    margin: -5px 5px 0;
    vertical-align: text-top;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    zoom:1}

footer a {
    display: inline-block;
    *display: inline;
    height: 60px;
    zoom:1}

.pre-anim footer,.ready footer {
    height: 0
}

.anim footer {
    height: 60px;
    -webkit-transition: height 600ms cubic-bezier(1,0,0,1);
    -moz-transition: height 600ms cubic-bezier(1,0,0,1);
    transition: height 600ms cubic-bezier(1,0,0,1)
}

#nav {
    text-align: center
}

#nav a {
    position: relative;
    padding: 0 10px;
    font-size: '12px'
}

#nav a .words {
    position: relative;
    z-index: 10;
    display: block;
    height: 60px;
    line-height: 60px;
    color: #454545
}

#nav a .bkgd {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 0;
    background: #ffc963;
    -webkit-transition: height 200ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: height 200ms cubic-bezier(0.645,.045,.355,1);
    transition: height 200ms cubic-bezier(0.645,.045,.355,1)
}

#nav a:hover .bkgd,#nav a.active .bkgd {
    height: 100%
}

#footer-left,#footer-right {
    position: absolute;
    top: 0;
    display: inline-block;
    *display: inline;
    height: 60px;
    line-height: 60px;
    zoom:1}

#footer-left {
    left: 20px
}

#footer-left a {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #b7b7b7
}

#footer-right {
    right: 20px
}

#footer-right a {
    font-family: 'Times New Roman',Times,serif;
    font-size: 14px;
    font-style: italic;
    line-height: 60px;
    color: #676767
}

#logo-metro {
    width: 79px;
    margin-top: -8px
}

#logo-leica {
    width: 62px;
    background-position: -79px 0
}

#logo-if {
    width: 21px;
    background-position: -141px 0
}

#logo-end {
    width: 62px;
    background-position: -162px 0
}

#logo-free {
    width: 42px;
    background-position: -224px 0
}

.scroll-invite {
    position: absolute;
    bottom: 15%;
    left: 50%;
    z-index: 10;
    display: block;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    overflow: hidden;
    cursor: pointer;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px
}

.scroll-invite .arrow {
    display: block;
    width: 35px;
    height: 20px;
    margin: 27px auto 0;
    background-image: url(../img/sprite2.png)
}

.scroll-invite .arrow-1,.scroll-invite .arrow-2 {
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: -moz-transform 400ms cubic-bezier(0.645,.045,.355,1);
    -o-transition: -o-transform 400ms cubic-bezier(0.645,.045,.355,1);
    transition: transform 400ms cubic-bezier(0.645,.045,.355,1)
}

.scroll-invite .arrow-1 {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.scroll-invite .arrow-2 {
    -webkit-transform: translate3d(0,-100px,0);
    -moz-transform: translate3d(0,-100px,0);
    -ms-transform: translate3d(0,-100px,0);
    -o-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0)
}

.scroll-invite:hover .arrow-1 {
    -webkit-transform: translate3d(0,50px,0);
    -moz-transform: translate3d(0,50px,0);
    -ms-transform: translate3d(0,50px,0);
    -o-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0)
}

.scroll-invite:hover .arrow-2 {
    -webkit-transform: translate3d(0,-47px,0);
    -moz-transform: translate3d(0,-47px,0);
    -ms-transform: translate3d(0,-47px,0);
    -o-transform: translate3d(0,-47px,0);
    transform: translate3d(0,-47px,0)
}

#global {
    position: relative;
    width: 100%;
    height: 100%
}

.csstransitions .slide-1 #slides {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.csstransitions .slide-2 #slides {
    -webkit-transform: translate3d(0,-25%,0);
    -moz-transform: translate3d(0,-25%,0);
    -ms-transform: translate3d(0,-25%,0);
    -o-transform: translate3d(0,-25%,0);
    transform: translate3d(0,-25%,0)
}

.csstransitions .slide-3 #slides {
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0)
}

.csstransitions .slide-4 #slides {
    -webkit-transform: translate3d(0,-75%,0);
    -moz-transform: translate3d(0,-75%,0);
    -ms-transform: translate3d(0,-75%,0);
    -o-transform: translate3d(0,-75%,0);
    transform: translate3d(0,-75%,0)
}

#slides {
    position: relative;
    height: 400%;
    -webkit-transition: -webkit-transform 700ms cubic-bezier(1,0,0,1);
    -moz-transition: -moz-transform 700ms cubic-bezier(1,0,0,1);
    -o-transition: -o-transform 700ms cubic-bezier(1,0,0,1);
    transition: transform 700ms cubic-bezier(1,0,0,1);
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms
}

.loader #slides {
    visibility: hidden
}

.loader.ready #slides {
    visibility: visible
}

.slide {
    position: relative;
    width: 100%;
    height: 25%;
    overflow: hidden;
    background-color: #fff;
    background-position: center;
    background-size: cover
}

#slide-1 {
    color: #fff;
    text-align: center;
    /* background-image: url(../img/bkgd-01.jpg) */
    position: relative;
}

#slide-1:before {
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    vertical-align: middle;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}
#slide-1 .centered {
    display: inline-block;
    margin-top: 25%;
    line-height: 25px;
    text-align: center;
    vertical-align: top;
    /*
    opacity: 0.8;
    filter: alpha(opacity=80);
    mix-blend-mode: luminosity;
    */
}

#slide-1 .video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    background-size: cover;
    z-index: 0;
}

#slide-1 .video video {
    height: 100vh;
}

#slide-1 h1 {
    font: 80px/80px GothamSteve,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 800;
    color: white;
}

#slide-1 h2 {
    font-size: 20px;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
}

#slide-1 .scroll-invite {
    background-color: #fff
}

#slide-1 .scroll-invite .arrow {
    background-position: -365px 0
}

#slide-2 {
    background-image: url(../img/kul.jpg)
}

#slide-2 .scroll-invite {
    background-color: #000;
    background-color: rgba(0,0,0,.7)
}

#slide-2 .scroll-invite .arrow {
    background-position: -330px 0
}

#slide-3 {
    background-image: url(../img/collage.jpg)
}

#slide-3 .col {
    float: left;
    width: 30%;
    height: 100%;
    margin-top: -30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px #444, 0 0 10px #888;
}

#slide-3 .col:before {
    display: inline-block;
    *display: inline;
    height: 100%;
    margin-right: -.25em;
    vertical-align: middle;
    content: '';
    zoom:1}

#slide-3 .col .centered {
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle
}

#slide-3 .col .number {
    display: block;
    font-size: 120px;
    line-height: 130px;
    letter-spacing: 0
}

.is1400 #slide-3 .col .number {
    font-size: 190px;
    line-height: 200px
}

.is1400 #slide-3 .col .centered {
    font-size: 25px;
    line-height: 20px;
    margin-top: 40px;
}

#contest.col {
    width: 40%
}

#slide-4 {
    background: #000
}

#video-holder {
    position: relative;
    z-index: 10;
    height: 100%
}

#cinemagraph {
    min-width: 100%;
    min-height: 100%
}

#trailler-invite {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%
}

#richard {
    display: inline-block;
    *display: block;
    width: 35%;
    padding-top: 40%;
    margin-left: 2%;
    color: black;
    text-align: right;
    list-style: none;
    font-size: 0.5em;
    zoom:1}

#richard li {
    font-size: 40px;
    line-height: 40px
}

#antonson {
    display: inline-block;
    *display: block;
    width: 39%;
    padding-top: 40%;
    margin-left: 23%;
    color: white;
    text-align: left;
    list-style: none;
    font-size: 0.5em;
    zoom:1}

#antonson li.starring,
#richard li.starring {
    font-family: OpenSans;
    font-size: 18px;
}

#antonson li.tagline,
#richard li.tagline {
    width: 100%;
    padding: 2px 5px 2px 5px;
    font-size: 18px;
    font-weight: 400;
    font-family: OpenSans;
}

#antonson li {
    font-size: 40px;
    line-height: 40px
}

#trailler-trigger {
    position: relative;
    top: -15px;
    display: inline-block;
    *display: inline;
    padding: 10px 20px;
    color: #ffc963;
    text-transform: uppercase;
    /* background: url(../img/blank.gif); */
    zoom:1}

#trailler-trigger .text {
    font-size: 25px;
    line-height: 30px
}

#trailler-trigger .bkgd {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: 0;
    background: #fff;
    -webkit-transition: height 200ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: height 200ms cubic-bezier(0.645,.045,.355,1);
    transition: height 200ms cubic-bezier(0.645,.045,.355,1)
}

#trailler-trigger:hover .text,#trailler-trigger:hover .border {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0
}

#trailler-trigger:hover .text {
    color: #fff
}

#trailler-trigger:hover .border {
    background: #fff
}

#trailler-trigger .border {
    position: absolute;
    z-index: 1;
    background: #ffc963
}

#trailler-trigger .border-top,#trailler-trigger .border-bottom {
    width: 100%;
    height: 5px
}

#trailler-trigger .border-left,#trailler-trigger .border-top {
    top: 0;
    left: 0
}

#trailler-trigger .border-right,#trailler-trigger .border-bottom {
    right: 0;
    bottom: 0
}

#trailler-trigger .border-right,#trailler-trigger .border-left {
    width: 5px;
    height: 100%
}

#text-scroll-invite {
    display: block;
    margin-top: 5%;
    font-family: 'Times New Roman',Times,serif;
    font-size: 18px;
    font-style: italic;
    color: #ffc963;
    text-align: center;
    width: 55%;
}

#text-scroll-invite span {
    display: block;
    width: 64px;
    height: 24px;
    margin: 15px auto 0;
    text-indent: -9000px;
    vertical-align: text-top;
    background: url(../img/sprite.png) -266px 0
}
#text-scroll-invite2 {
    display: block;
    margin-top: 5%;
    font-family: 'Times New Roman',Times,serif;
    font-size: 18px;
    font-style: italic;
    color: #ffc963;
    text-align: center;
    width: 55%;
}

#text-scroll-invite2 span {
    display: float;
    width: 64px;
    height: 24px;
    margin: 15px auto 0;
    text-indent: -9000px;
    vertical-align: text-top;
    background: url(../img/sprite.png) -266px 0
}


#contest {
    position: relative
}

#valid-submit {
    position: relative;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 2.5%;
    width: 95%;
    height: 250px;
    padding: 20px 20px 0;
    margin-top: -75px;
    overflow: hidden;
    font-size: 50px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    background: #18a741;
    background: url(../img/fbb.png) no-repeat;
    background-size: 100%;
    filter: drop-shadow(1px 2px 5px #444);
    -webkit-transition: top 400ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: top 400ms cubic-bezier(0.645,.045,.355,1);
    transition: top 400ms cubic-bezier(0.645,.045,.355,1);
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s
}

#valid-submit.hide {
    top: 200%
}

#questions {
    position: relative;
    width: 95%;
    -webkit-transition: top 400ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: top 400ms cubic-bezier(0.645,.045,.355,1);
    transition: top 400ms cubic-bezier(0.645,.045,.355,1)
}

#questions.close {
    top: -100%;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0
}

#questions small a {
    display: block;
    margin-top: 15px;
    font-family: 'Times New Roman',Times,serif;
    font-size: 10px;
    font-style: italic;
    color: #fff
}

#questions .submit {
    width: 100%;
    height: 80px
}

#questions .submit.open .input {
    width: 60%
}

#questions .submit.open .trigger {
    width: 40%
}

#questions .input,#questions .trigger {
    float: left;
    height: 100%;
    -webkit-transition: width 200ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: width 200ms cubic-bezier(0.645,.045,.355,1);
    transition: width 200ms cubic-bezier(0.645,.045,.355,1)
}

#questions .input {
    width: 0;
    overflow: hidden;
    line-height: 80px;
    background: #ffc963
}

#questions .input input {
    width: 80%;
    height: 35px;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Times New Roman',Times,serif;
    font-size: 12px;
    font-style: italic;
    border: 1px solid #fff;
    outline: 0
}

#questions .input input.warning {
    border: 1px solid red
}

#questions .trigger {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 80px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #18a741
}

#questions .trigger span {
    position: absolute;
    top: 0;
    display: block;
    float: left;
    height: 80px;
    font-size: 25px;
    line-height: 80px;
    -webkit-transition: all 400ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: all 400ms cubic-bezier(0.645,.045,.355,1);
    transition: all 400ms cubic-bezier(0.645,.045,.355,1)
}

#text-your-mail {
    right: 0;
    width: 100%
}

#text-submit {
    right: -100%;
    width: 100%
}

.open #text-your-mail {
    right: -100%
}

.open #text-submit {
    right: 0;
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms
}

.question {
    position: relative;
    height: 80px;
    padding: 40px;
    text-align: left;
    cursor: pointer;
    -webkit-transition: all 400ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: all 400ms cubic-bezier(0.645,.045,.355,1);
    transition: all 400ms cubic-bezier(0.645,.045,.355,1)
}

.question:before {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    font-size: 50px;
    line-height: 0;
    color: #fff;
    text-align: center
}

.question .content {
    display: none;
    font-size: 15px;
    color: #000
}

.question .txt {
    min-height: 35px;
    margin-left: 35px;
    text-align: left
}

.question .indice {
    font-family: 'Times New Roman',Times,serif;
    font-size: 10px;
    font-style: italic
}

.question ul {
    padding: 20px 0;
    text-align: left;
    list-style: none
}

.question li {
    display: inline-block;
    *display: inline;
    zoom:1}

.question li+li {
    margin-left: 10px
}

.question.open {
    height: auto;
    cursor: default;
    background: #ffc963
}

.question.open:before {
    top: 57px;
    left: 40px;
    width: auto;
    height: 50px;
    font-size: 45px
}

.question.open .content {
    display: block
}

.question input[type=text] {
    width: 100%;
    height: 35px;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Times New Roman',Times,serif;
    font-size: 12px;
    font-style: italic;
    border: 0;
    outline: 0
}

.question input[type=text].warning {
    border: 1px solid red
}

.question input[type=radio]:not(:checked),.question input[type=radio]:checked {
    position: absolute;
    opacity: 0
}

.question .label {
    position: relative;
    display: inline-block;
    *display: inline;
    font-size: 11px;
    cursor: pointer;
    zoom:1}

.question input[type=radio]+span {
    display: inline-block;
    *display: inline;
    color: #9f9f9f;
    zoom:1}

.question input[type=radio]+span:before {
    position: relative;
    top: 5px;
    display: inline-block;
    *display: inline;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background: #fff;
    border: 1px solid #fff;
    content: '';
    zoom:1}

.question input[type=radio].warning {
    border: 1px solid red
}

.question input[type=radio].warning+span:before {
    border: 1px solid red
}

.question input[type=radio]:checked+span:before {
    background: #fff url(../img/checked.png) no-repeat center
}

.is1000 .question {
    padding: 25px 20px
}

.is1000 .question:before {
    line-height: 30px
}

.is1000 .question.open:before {
    top: 27px;
    left: 20px
}

.lt-ie9 .question label span {
    display: none!important
}

.q1 {
    background: #494949
}

.q1:before {
    content: '1'
}

.q2 {
    background: #2f2f2f
}

.q2:before {
    content: '2'
}

.q3 {
    background: #0a0c0c
}

.q3:before {
    content: '3'
}

.bonus {
    position: absolute;
    z-index: 10;
    width: 35%;
    overflow: hidden;
    cursor: pointer;
    outline: 0;
    -webkit-transition: all 700ms cubic-bezier(1,0,0,1);
    -moz-transition: all 700ms cubic-bezier(1,0,0,1);
    transition: all 700ms cubic-bezier(1,0,0,1)
}

.bonus.open {
    cursor: default
}

.real-content {
    display: none;
    padding: 100px 40px 40px;
    color: #fff;
    text-align: left
}

.real-content p,.real-content li {
    font: 12px/18px 'Times New Roman',Times,serif;
    -webkit-font-smoothing: auto
}

.real-content p.intro {
    margin-bottom: 30px
}

.real-content p+p {
    margin-top: 10px
}

.real-content ul {
    list-style: none
}

.real-content li+li {
    margin-top: 25px
}

.real-content strong {
    display: block;
    margin-bottom: 5px
}

.real-content small {
    display: block;
    margin-top: 20px;
    font-size: 10px;
    text-align: right
}

#ashton,#extrait,#making {
    z-index: 100
}

#ashton.down,#extrait.down,#making.down {
    z-index: 10
}

#ashton,#extrait {
    top: 0
}

#ashton,#making {
    bottom: 60px
}

#making {
    z-index: 110;
    color: #00b2ce;
    background: #000
}

#extrait {
    left: 0;
    z-index: 110;
    color: #fff;
    background: url(../img/bkgd-02.jpg) center left no-repeat;
    background-size: cover
}

#extrait .centered {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -65px;
    font-size: 18px;
    text-align: center
}

#making .centered {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -35px;
    font-size: 18px;
    text-align: center
}

#making p {
    line-height: 25px
}

#making p,#extrait p {
    font-size: 18px
}

#making a,#extrait a {
    display: block;
    width: 95px;
    height: 95px;
    margin: 0 auto 20px;
    background: url(../img/play.png)
}

#making a:hover,#extrait a:hover {
    background: url(../img/play-hover.png)
}

#making.open,#extrait.open {
    width: 100%
}

#making .real-content,#extrait .real-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 690px;
    height: 390px;
    padding: 0;
    margin: -195px 0 0 -345px
}

.close-bonus {
    position: absolute;
    top: 15px;
    right: 18px;
    display: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer
}

#ashton {
    top: 0;
    right: 0;
    color: #c75c8c;
    background: #000 url(../img/bonus-ashton.jpg) top center no-repeat;
    background-size: cover
}

#ashton .close-bonus {
    color: #c75c8c
}

#ashton .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0,0,0,.3);
    -webkit-transition: background 400ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: background 400ms cubic-bezier(0.645,.045,.355,1);
    transition: background 400ms cubic-bezier(0.645,.045,.355,1)
}

#ashton.open {
    z-index: 50
}

#ashton.open .overlay {
    background-color: #000
}

#ashton.open .letter,#ashton.open .bar,#ashton.open .words {
    -webkit-transition: top 400ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: top 400ms cubic-bezier(0.645,.045,.355,1);
    transition: top 400ms cubic-bezier(0.645,.045,.355,1)
}

#ashton.open .bar {
    top: -400%;
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms
}

#ashton.open .letter {
    top: -600%
}

#ashton.open .words {
    top: -200%
}

#ashton.open .centered {
    top: -100%;
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms
}

#ashton .centered {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 360px;
    margin-top: -75px;
    font-size: 20px;
    text-align: center;
    -webkit-transition: all 700ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: all 700ms cubic-bezier(0.645,.045,.355,1);
    transition: all 700ms cubic-bezier(0.645,.045,.355,1)
}

#ashton .letter,#ashton .bar,#ashton .words {
    position: relative;
    top: 0
}

#ashton .letter {
    font-size: 250px;
    letter-spacing: 0;
    text-transform: uppercase
}

#ashton .bar {
    display: block;
    width: 4px;
    height: 100px;
    margin: 35px auto 45px;
    background: #c75c8c
}

#ashton .words,#ashton .title {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #c75c8c;
    text-align: center;
    text-transform: uppercase
}

#ashton .title {
    margin-bottom: 30px
}

#ashton .real-content {
    padding-top: 40px
}

.is1000 #ashton .centered {
    margin-top: -25px
}

.is1000 #ashton .letter {
    font-size: 170px;
    line-height: 1px
}

.is1000 #ashton .bar {
    margin: 10px auto 20px
}

.is1000 #ashton.open .centered {
    top: -170px
}

#reasons,#critics {
    left: 33%;
    height: 50%
}

#reasons {
    top: 0;
    height: 50%;
    font-size: 25px;
    color: #18a741;
    background: #fff;
    -webkit-transition: all 700ms cubic-bezier(0.19,1,.22,1);
    -moz-transition: all 700ms cubic-bezier(0.19,1,.22,1);
    transition: all 700ms cubic-bezier(0.19,1,.22,1)
}

#reasons.open {
    z-index: 50;
    height: 100%
}

#reasons.open .centered {
    top: 3%;
    margin-top: 0
}

#reasons .close-bonus {
    color: #18a741
}

#reasons .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 210px;
    height: 210px;
    margin-top: -105px;
    margin-left: -105px;
    text-align: left;
    -webkit-transition: all 700ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: all 700ms cubic-bezier(0.645,.045,.355,1);
    transition: all 700ms cubic-bezier(0.645,.045,.355,1)
}

#reasons .centered span {
    display: block
}

#reasons .centered span.number {
    font-size: 120px;
    line-height: 110px;
    text-align: center
}

#reasons .centered span.word {
    font-size: 20px;
    line-height: 25px
}

#reasons .centered span.word-1 {
    letter-spacing: 19px
}

#reasons .centered span.word-2 {
    letter-spacing: 15px
}

#reasons .centered span.word-3 {
    letter-spacing: 16px
}

#reasons .centered span.word-4 {
    letter-spacing: 9px
}

#reasons .real-content {
    padding-top: 270px;
    color: #000
}

#reasons .real-content strong {
    color: #18a741
}

#critics {
    bottom: 60px;
    background: url(../img/bonus-critics.jpg) center;
    background-size: 200%
}

#critics .close-bonus {
    color: #ebad48
}

#critics.open {
    right: 0;
    left: 0!important;
    z-index: 110;
    width: 100%
}

#critics.open .real-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 640px;
    height: 360px;
    padding: 0;
    margin: -180px 0 0 -320px
}

#critics.open .centered {
    top: 3%;
    margin-top: 0
}

#critics .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0,0,0,.6)
}

#critics .centered {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 50px;
    margin-top: -25px;
    font-size: 18px;
    line-height: 25px;
    color: #ebad48;
    -webkit-transition: all 700ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: all 700ms cubic-bezier(0.645,.045,.355,1);
    transition: all 700ms cubic-bezier(0.645,.045,.355,1)
}

#loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    overflow: hidden;
    color: #e27ba6;
    text-align: center;
    background: #fff;
    -webkit-transition: height 500ms cubic-bezier(1,0,0,1);
    -moz-transition: height 500ms cubic-bezier(1,0,0,1);
    transition: height 500ms cubic-bezier(1,0,0,1)
}

#loader .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 460px;
    height: 160px;
    margin-top: -80px;
    margin-left: -230px
}

#loader h1,#loader p {
    -webkit-transition: -webkit-transform 800ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: -moz-transform 800ms cubic-bezier(0.645,.045,.355,1);
    -o-transition: -o-transform 800ms cubic-bezier(0.645,.045,.355,1);
    transition: transform 800ms cubic-bezier(0.645,.045,.355,1)
}

#loader p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 10px;
    text-transform: uppercase
}

#loader h1 {
    width: 460px;
    height: 115px
}

#loader .loader {
    display: block;
    float: left;
    width: 115px;
    height: 115px;
    -webkit-transform: translate3d(0,-800%,0);
    -moz-transform: translate3d(0,-800%,0);
    -ms-transform: translate3d(0,-800%,0);
    -o-transform: translate3d(0,-800%,0);
    transform: translate3d(0,-800%,0);
    -webkit-transition: -webkit-transform 800ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: -moz-transform 800ms cubic-bezier(0.645,.045,.355,1);
    -o-transition: -o-transform 800ms cubic-bezier(0.645,.045,.355,1);
    transition: transform 800ms cubic-bezier(0.645,.045,.355,1)
}

#loader .loader span {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 60px;
    line-height: 115px;
    color: #fff;
    text-transform: uppercase
}

#loader .loader.loader-j span {
    background: #00b2ce;
    -webkit-animation: -webkit-transform .7s infinite linear;
    -moz-animation: -webkit-transform .7s infinite linear;
    animation: -webkit-transform .7s infinite linear;
    -webkit-animation-name: loadingJ;
    -moz-animation-name: loadingJ;
    animation-name: loadingJ;
    -webkit-transition: background;
    -moz-transition: background;
    transition: background
}

#loader .loader.loader-o span {
    background: #f5a800;
    -webkit-animation: -webkit-transform .7s infinite linear;
    -moz-animation: -webkit-transform .7s infinite linear;
    animation: -webkit-transform .7s infinite linear;
    -webkit-animation-name: loadingO;
    -moz-animation-name: loadingO;
    animation-name: loadingO;
    -webkit-transition: background;
    -moz-transition: background;
    transition: background
}

#loader .loader.loader-b span {
    background: #e27ba6;
    -webkit-animation: -webkit-transform .7s infinite linear;
    -moz-animation: -webkit-transform .7s infinite linear;
    animation: -webkit-transform .7s infinite linear;
    -webkit-animation-name: loadingB;
    -moz-animation-name: loadingB;
    animation-name: loadingB;
    -webkit-transition: background;
    -moz-transition: background;
    transition: background
}

#loader .loader.loader-s span {
    background: #66b13a;
    -webkit-animation: -webkit-transform .7s infinite linear;
    -moz-animation: -webkit-transform .7s infinite linear;
    animation: -webkit-transform .7s infinite linear;
    -webkit-animation-name: loadingS;
    -moz-animation-name: loadingS;
    animation-name: loadingS;
    -webkit-transition: background;
    -moz-transition: background;
    transition: background
}

.loader #loader {
    z-index: 90
}

.show #loader .loader {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.show #loader .loader-j {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s
}

.show #loader .loader-o {
    -webkit-transition-delay: 1200ms;
    -moz-transition-delay: 1200ms;
    -o-transition-delay: 1200ms;
    transition-delay: 1200ms
}

.show #loader .loader-b {
    -webkit-transition-delay: 1400ms;
    -moz-transition-delay: 1400ms;
    -o-transition-delay: 1400ms;
    transition-delay: 1400ms
}

.show #loader .loader-s {
    -webkit-transition-delay: 1600ms;
    -moz-transition-delay: 1600ms;
    -o-transition-delay: 1600ms;
    transition-delay: 1600ms
}

.ready #loader {
    height: 0;
    -webkit-transition-delay: 1300ms;
    -moz-transition-delay: 1300ms;
    -o-transition-delay: 1300ms;
    transition-delay: 1300ms
}

.ready #loader p {
    -webkit-transform: translate3d(0,-1000%,0);
    -moz-transform: translate3d(0,-1000%,0);
    -ms-transform: translate3d(0,-1000%,0);
    -o-transform: translate3d(0,-1000%,0);
    transform: translate3d(0,-1000%,0);
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s
}

.ready #loader h1 {
    -webkit-transform: translate3d(0,-800%,0);
    -moz-transform: translate3d(0,-800%,0);
    -ms-transform: translate3d(0,-800%,0);
    -o-transform: translate3d(0,-800%,0);
    transform: translate3d(0,-800%,0);
    -webkit-transition-delay: 1200ms;
    -moz-transition-delay: 1200ms;
    -o-transition-delay: 1200ms;
    transition-delay: 1200ms
}

@-webkit-keyframes loadingJ {
    0% {
        background: #00b2ce
    }

    25% {
        background: #66b13a
    }

    50% {
        background: #e27ba6
    }

    75% {
        background: #f5a800
    }

    100% {
        background: #00b2ce
    }
}

@-webkit-keyframes loadingO {
    0% {
        background: #f5a800
    }

    25% {
        background: #00b2ce
    }

    50% {
        background: #66b13a
    }

    75% {
        background: #e27ba6
    }

    100% {
        background: #f5a800
    }
}

@-webkit-keyframes loadingB {
    0% {
        background: #e27ba6
    }

    25% {
        background: #f5a800
    }

    50% {
        background: #00b2ce
    }

    75% {
        background: #66b13a
    }

    100% {
        background: #e27ba6
    }
}

@-webkit-keyframes loadingS {
    0% {
        background: #66b13a
    }

    25% {
        background: #e27ba6
    }

    50% {
        background: #f5a800
    }

    75% {
        background: #00b2ce
    }

    100% {
        background: #66b13a
    }
}

@-moz-keyframes loadingJ {
    0% {
        background: #00b2ce
    }

    25% {
        background: #66b13a
    }

    50% {
        background: #e27ba6
    }

    75% {
        background: #f5a800
    }

    100% {
        background: #00b2ce
    }
}

@-moz-keyframes loadingO {
    0% {
        background: #f5a800
    }

    25% {
        background: #00b2ce
    }

    50% {
        background: #66b13a
    }

    75% {
        background: #e27ba6
    }

    100% {
        background: #f5a800
    }
}

@-moz-keyframes loadingB {
    0% {
        background: #e27ba6
    }

    25% {
        background: #f5a800
    }

    50% {
        background: #00b2ce
    }

    75% {
        background: #66b13a
    }

    100% {
        background: #e27ba6
    }
}

@-moz-keyframes loadingS {
    0% {
        background: #66b13a
    }

    25% {
        background: #e27ba6
    }

    50% {
        background: #f5a800
    }

    75% {
        background: #00b2ce
    }

    100% {
        background: #66b13a
    }
}

@keyframes loadingJ {
    0% {
        background: #00b2ce
    }

    25% {
        background: #66b13a
    }

    50% {
        background: #e27ba6
    }

    75% {
        background: #f5a800
    }

    100% {
        background: #00b2ce
    }
}

@keyframes loadingO {
    0% {
        background: #f5a800
    }

    25% {
        background: #00b2ce
    }

    50% {
        background: #66b13a
    }

    75% {
        background: #e27ba6
    }

    100% {
        background: #f5a800
    }
}

@keyframes loadingB {
    0% {
        background: #e27ba6
    }

    25% {
        background: #f5a800
    }

    50% {
        background: #00b2ce
    }

    75% {
        background: #66b13a
    }

    100% {
        background: #e27ba6
    }
}

@keyframes loadingS {
    0% {
        background: #66b13a
    }

    25% {
        background: #e27ba6
    }

    50% {
        background: #f5a800
    }

    75% {
        background: #00b2ce
    }

    100% {
        background: #66b13a
    }
}

#overlay {
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    color: #fff;
    background: #000;
    background: rgba(0,0,0,.85)
}

.share #overlay,.credits #overlay {
    z-index: 90;
    -khtml-opacity: .99;
    -moz-opacity: .99;
    opacity: .99
}

#overlay,#share,#credits {
    position: fixed;
    z-index: -1;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-out;
    -moz-transition: opacity 400ms ease-out;
    transition: opacity 400ms ease-out
}

#share {
    top: 50%;
    left: 50%;
    width: 310px;
    margin-top: -65px;
    margin-left: -160px;
    color: #fff;
    text-align: center;
    background: url(../img/blank.gif)
}

#share a {
    display: inline-block;
    *display: inline;
    width: 64px;
    height: 64px;
    text-align: center;
    border: solid 2px #ffc963;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    border-radius: 32px;
    zoom:1;-webkit-transform: translate3d(0,-800%,0);
    -moz-transform: translate3d(0,-800%,0);
    -ms-transform: translate3d(0,-800%,0);
    -o-transform: translate3d(0,-800%,0);
    transform: translate3d(0,-800%,0);
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: -moz-transform 300ms cubic-bezier(0.645,.045,.355,1);
    -o-transition: -o-transform 300ms cubic-bezier(0.645,.045,.355,1);
    transition: transform 300ms cubic-bezier(0.645,.045,.355,1)
}

#share a:hover {
    background: #ffc963
}

#share i {
    display: block;
    height: 24px;
    margin: 18px auto 0;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat
}

#share p {
    font: 20px/25px GothamSteve,Arial,sans-serif
}

#share p+p {
    position: relative;
    margin-top: 20px;
    color: #ffc963
}

#share span {
    position: relative;
    top: -20px;
    display: inline-block;
    *display: inline;
    height: 64px;
    margin: 0 12px;
    font-size: 25px;
    line-height: 64px;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    zoom:1;-webkit-transition: opacity 400ms cubic-bezier(1,0,0,1);
    -moz-transition: opacity 400ms cubic-bezier(1,0,0,1);
    transition: opacity 400ms cubic-bezier(1,0,0,1)
}

.share #share {
    z-index: 95;
    -khtml-opacity: .99;
    -moz-opacity: .99;
    opacity: .99
}

.share #share #logo-fb,.share #share #logo-tw {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.share #share #logo-fb {
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms
}

.share #share #logo-tw {
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms
}

.share #share span {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s
}

#logo-fb i {
    width: 16px;
    background-position: -400px 0
}

#logo-fb:hover i {
    background-position: -415px 0
}

#logo-tw i {
    width: 30px;
    background-position: -428px 0
}

#logo-tw:hover i {
    background-position: -458px 0
}

#credits {
    top: 50%;
    left: 50%;
    width: 240px;
    height: 210px;
    margin-top: -105px;
    margin-left: -120px;
    text-align: center;
    background: url(../img/blank.gif)
}

#credits dt {
    margin-bottom: 10px;
    font-family: 'Times New Roman',Times,serif;
    font-size: 18px;
    font-style: italic;
    color: #ffc963
}

#credits dd+dt {
    margin-top: 30px
}

#credits a {
    font-size: 20px;
    color: #fff
}

.credits #credits {
    z-index: 95;
    -khtml-opacity: .99;
    -moz-opacity: .99;
    opacity: .99
}

#trailler {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 60px;
    left: 0;
    z-index: 1000;
    color: #fff;
    background: #000;
    background: rgba(0,0,0,.85);
    -webkit-transition: opacity 200ms cubic-bezier(1,0,0,1);
    -moz-transition: opacity 200ms cubic-bezier(1,0,0,1);
    transition: opacity 200ms cubic-bezier(1,0,0,1)
}

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.nano .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden
}

.nano .content:focus {
    outline: thin dotted
}

.nano .content::-webkit-scrollbar {
    visibility: hidden
}

.nano>.pane {
    position: absolute;
    top: 45px;
    right: 10px;
    bottom: 5px;
    width: 10px;
    background: rgba(0,0,0,.25);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: .01;
    visibility: hidden\9;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.nano>.pane>.slider {
    position: relative;
    margin: 0 1px;
    background: #444;
    background: rgba(0,0,0,.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.nano:hover>.pane,.pane.active,.pane.flashed {
    opacity: .99;
    visibility: visible\9
}

.has-scrollbar .content::-webkit-scrollbar {
    visibility: visible
}

.csstransitions html,.csstransitions body {
    overflow: hidden
}

.csstransitions #slide-1 h1,.csstransitions #slide-1 h2 {
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0
}

.csstransitions #slide-1 h1 {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95)
}

.csstransitions #slide-1 .scroll-invite {
    -webkit-transform: translate3d(0,400%,0);
    -moz-transform: translate3d(0,400%,0);
    -ms-transform: translate3d(0,400%,0);
    -o-transform: translate3d(0,400%,0);
    transform: translate3d(0,400%,0);
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.645,.045,.355,1);
    -moz-transition: -moz-transform 400ms cubic-bezier(0.645,.045,.355,1);
    -o-transition: -o-transform 400ms cubic-bezier(0.645,.045,.355,1);
    transition: transform 400ms cubic-bezier(0.645,.045,.355,1)
}

.csstransitions #trailler-trigger .border-left,.csstransitions #trailler-trigger .border-right {
    height: 0;
    -webkit-transition: height 400ms cubic-bezier(1,0,0,1);
    -moz-transition: height 400ms cubic-bezier(1,0,0,1);
    transition: height 400ms cubic-bezier(1,0,0,1);
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms
}

.csstransitions #trailler-trigger .border-top,.csstransitions #trailler-trigger .border-bottom {
    width: 0;
    -webkit-transition: width 400ms cubic-bezier(1,0,0,1);
    -moz-transition: width 400ms cubic-bezier(1,0,0,1);
    transition: width 400ms cubic-bezier(1,0,0,1);
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms
}

.csstransitions #trailler-trigger .text {
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out
}

.csstransitions #tag-line li {
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    transition: all 400ms ease-out
}

.csstransitions #tag-line li:nth-child(1) {
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms
}

.csstransitions #tag-line li:nth-child(2) {
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms
}

.csstransitions #tag-line li:nth-child(3) {
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms
}

.csstransitions .col-left,.csstransitions .col-right,.csstransitions #questions {
    -webkit-transition: all 400ms cubic-bezier(1,0,0,1);
    -moz-transition: all 400ms cubic-bezier(1,0,0,1);
    transition: all 400ms cubic-bezier(1,0,0,1);
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms
}

.csstransitions .col-left {
    -webkit-transform: translate3d(-200%,0,0);
    -moz-transform: translate3d(-200%,0,0);
    -ms-transform: translate3d(-200%,0,0);
    -o-transform: translate3d(-200%,0,0);
    transform: translate3d(-200%,0,0)
}

.csstransitions .col-right {
    -webkit-transform: translate3d(200%,0,0);
    -moz-transform: translate3d(200%,0,0);
    -ms-transform: translate3d(200%,0,0);
    -o-transform: translate3d(200%,0,0);
    transform: translate3d(200%,0,0)
}

.csstransitions #questions {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.csstransitions .slide-1 #slide-1 h1,.csstransitions .slide-1 #slide-1 h2 {
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out
}

.csstransitions .slide-1 #slide-1 h1 {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms
}

.csstransitions .slide-1 #slide-1 h2 {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms
}

.csstransitions .slide-1 #slide-1 .scroll-invite {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s
}

.csstransitions .slide-2 #slide-1 h1,.csstransitions .slide-3 #slide-1 h1,.csstransitions .slide-4 #slide-1 h1 {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0,-800%,0);
    -moz-transform: translate3d(0,-800%,0);
    -ms-transform: translate3d(0,-800%,0);
    -o-transform: translate3d(0,-800%,0);
    transform: translate3d(0,-800%,0);
    -webkit-transition: -webkit-transform 400ms cubic-bezier(1,0,0,1);
    -moz-transition: -moz-transform 400ms cubic-bezier(1,0,0,1);
    -o-transition: -o-transform 400ms cubic-bezier(1,0,0,1);
    transition: transform 400ms cubic-bezier(1,0,0,1);
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0
}

.csstransitions .slide-2 #slide-1 h2,.csstransitions .slide-3 #slide-1 h2,.csstransitions .slide-4 #slide-1 h2 {
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out
}

.hero-video {
    width: 100%;
    height: 100%;
    min-width: 100%;
    z-index: 99;
}

.csstransitions .slide-3 #tag-line,.csstransitions .slide-4 #tag-line,.csstransitions .slide-3 #trailler-trigger,.csstransitions .slide-4 #trailler-trigger,.csstransitions .slide-3 #text-scroll-invite,.csstransitions .slide-4 #text-scroll-invite {
    -webkit-transform: translate3d(0,-400%,0);
    -moz-transform: translate3d(0,-400%,0);
    -ms-transform: translate3d(0,-400%,0);
    -o-transform: translate3d(0,-400%,0);
    transform: translate3d(0,-400%,0);
    -webkit-transition: -webkit-transform 400ms cubic-bezier(1,0,0,1);
    -moz-transition: -moz-transform 400ms cubic-bezier(1,0,0,1);
    -o-transition: -o-transform 400ms cubic-bezier(1,0,0,1);
    transition: transform 400ms cubic-bezier(1,0,0,1);
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0
}

.csstransitions .slide-3 #text-scroll-invite,.csstransitions .slide-4 #text-scroll-invite {
    -webkit-transform: translate3d(0,-800%,0);
    -moz-transform: translate3d(0,-800%,0);
    -ms-transform: translate3d(0,-800%,0);
    -o-transform: translate3d(0,-800%,0);
    transform: translate3d(0,-800%,0);
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms
}

.csstransitions .slide-2 #trailler-trigger .border-left,.csstransitions .slide-2 #trailler-trigger .border-right {
    height: 100%
}

.csstransitions .slide-2 #trailler-trigger .border-top,.csstransitions .slide-2 #trailler-trigger .border-bottom {
    width: 100%
}

.csstransitions .slide-2 #trailler-trigger .text {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s
}

.csstransitions .slide-2 #tag-line li {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.csstransitions .slide-2 #tag-line li:nth-child(1) {
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
    -o-transition-delay: 600ms;
    transition-delay: 600ms
}

.csstransitions .slide-2 #tag-line li:nth-child(2) {
    -webkit-transition-delay: 800ms;
    -moz-transition-delay: 800ms;
    -o-transition-delay: 800ms;
    transition-delay: 800ms
}

.csstransitions .slide-2 #tag-line li:nth-child(3) {
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms
}

.csstransitions .slide-3.down #slide-3 .col-left {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.csstransitions .slide-3.down #slide-3 .col-right {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.csstransitions .slide-3.up #slide-3 .col-left {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.csstransitions .slide-3.up #slide-3 .col-right {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.csstransitions .slide-3.up #questions {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.csstransitions .slide-4.down #slide-3 .col-left {
    -webkit-transform: translate3d(0,-200%,0);
    -moz-transform: translate3d(0,-200%,0);
    -ms-transform: translate3d(0,-200%,0);
    -o-transform: translate3d(0,-200%,0);
    transform: translate3d(0,-200%,0);
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms
}

.csstransitions .slide-4.down #slide-3 .col-right {
    -webkit-transform: translate3d(0,-200%,0);
    -moz-transform: translate3d(0,-200%,0);
    -ms-transform: translate3d(0,-200%,0);
    -o-transform: translate3d(0,-200%,0);
    transform: translate3d(0,-200%,0);
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms
}

.csstransitions .slide-4.down #questions {
    -webkit-transform: translate3d(0,-200%,0);
    -moz-transform: translate3d(0,-200%,0);
    -ms-transform: translate3d(0,-200%,0);
    -o-transform: translate3d(0,-200%,0);
    transform: translate3d(0,-200%,0);
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms
}
